html
	head
		title Noj Vek
		link(type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' )
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet')
		link(type='text/css' href='style.css' rel='stylesheet' )

		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js')
		script(type='text/javascript' src='data/data.js')
		script(type='text/javascript' src='script.js')

	body(ng-app='app' ng-controller='ResumeCtrl')
		.nav
		.intro
			.bg(ng-attr-style="background-image:url({{profile.cover_pic}})")
			.profile
				.profile-pic(ng-attr-style="background-image:url({{profile.profile_pic}})")
				.iam I AM
				h1.name {{profile.name}}
				p.blurb {{profile.blurb}}
		
		.experiences.container
			.row
				h2.col-sm-12 Experience
			.experience(ng-repeat="e in experiences")
				.info.row
					.col-sm-8
						a.company(ng-attr-href="{{e.company_url}}") {{e.company_name}}
						.position {{e.position}} . {{e.duration}} <br/> {{e.location}}
					.logo.col-sm-4(ng-attr-style="background-image:url({{e.company_logo}})")
				.project.row(ng-repeat="p in e.projects")
					.video.col-sm-6
						iframe(ng-src="https://www.youtube.com/embed/{{p.video_url}}" allowfullscreen)
					.desc.col-sm-6
						p(ng-repeat="line in p.desc") {{line}}


		.education
		.skills
		.achievements
		.side-projects
		.contact

